* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    border-width: 0px;
    border-color: red;
    border-style: solid;
}

h1, h2 {
    text-align: center;
}

h1 {
    background-color: #da74006e;
    width: fit-content;
    margin: 8px auto;
    padding: 4px 8px;
    border: 4px; border-color: #884901ad; border-style: solid;
}

.home {
    background-color: #00c3ff50;
    width: fit-content;
    margin: 16px;
    padding: 8px 16px;
}

figure {
    margin: 0px auto;
    width: fit-content;
}

figcaption {
    text-align: center;
    font-size: 80%;
    color: #727272
}

ul { 
    width: fit-content;
    margin: 8px auto;
    background-color:antiquewhite;
    padding: 1em 2em 1em 3em;
}

ol {
    width: 1000px;
    margin: 8px auto;
    background-color:antiquewhite;
    padding: 1em 2em 1em 3em;
}

li {
    margin: 8px 0
}

div {
    text-align: center;
    margin: 0 4em;
}