* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    border-width: 0px;
    border-color: red;
    border-style: solid;
}

h1, h2 {
    text-align: center;
}

.home {
    background-color: #00c3ff50;
    width: fit-content;
    margin: 0px auto;
    padding: 8px 16px;
}

figure {
    margin: 0px auto;
    width: fit-content;
}

figcaption {
    text-align: center;
}

ul { 
    width: fit-content;
    margin: 8px auto;
    background-color:antiquewhite;
    padding: 1em 2em 1em 3em;
}

ol {
    width: 1000px;
    margin: 8px auto;
    background-color:antiquewhite;
    padding: 1em 2em 1em 3em;
}

li {
    margin: 8px 0
}

div {
    text-align: center;
    margin: 0 4em;
}